---
---
<section class="h-max flex flex-col justify-center items-center m-20"> 
    <div class="animate-slide-in-top">
        <img
            src="../../public/img1.jpg"
            class="w-full rounded-md mb-8"
        />
    </div>
</section>