---
---
<section class="h-screen flex flex-col justify-center items-center">
    <div class="animate-slide-in-top">
        <h2
        class="heading-3 mb-8 px-4 text-center font-semibold text-6xl md:heading-2 max-w-5xl"
        style="text-wrap: balance;"
    >
        <font style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;"
                >Permite usar cualquier libreria</font
            ></font
        >
    </h2>
        <img
            src="../../public/img2.jpg"
            class="w-full rounded-md "
        />
    </div>
</section>