---
---
<section class="h-screen flex flex-col justify-center items-center">
    <div class="animate-slide-in-top">
        <img
            src="../../public/img1.jpg"
            class="w-full rounded-md mb-8"
        />
    </div>
</section>