---

---

<section class="landing-section">
    <h2
        class="heading-3 mb-8 px-4 text-center font-semibold text-6xl md:heading-2 max-w-5xl"
        style="text-wrap: balance;"
    >
        <font style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;"
                >Una arquitectura frontend con infinitas posibilidades</font
            ></font
        >
    </h2>
    <p
        class="body px-8 text-center text-astro-gray-200 text-2xl font-thin sm:body-large max-w-5xl"
        style="text-wrap: balance;"
    >
        <font style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                Da un paso hacia el futuro con <b>Islands Architecture</b>, la arquitectura frontend de
                próxima generación de Astro. Potencia tu desarrollo con
                transmisión automática de JS a HTML y una experiencia de
                desarrollador querida.
            </font></font
        >
    </p>
    <div
        class="grid gap-8 lg:gap-10 mt-10 w-full max-w-6xl justify-center px-4 text-start lg:grid-cols-2"
        data-astro-cid-zwuirr5b=""
    >
        <article
            class="panel relative flex min-w-0 flex-col text-astro-gray-200 max-w-xl border border-gray-800 bg-gray-800"
        >
            <img
                src="https://astro.build/_astro/content-focused.VdVRy80q.webp"
                width="1112"
                height="340"
                class="w-full"
                alt="Gráfico de múltiples archivos de contenido combinados en una sola página web"
                loading="lazy"
                decoding="async"
            />
            <div class="p-6">
                <h3
                    class="heading-3 font-semibold text-gray-100 heading-4 text-3xl"
                >
                    <font style="vertical-align: inherit;"
                        ><font style="vertical-align: inherit;"
                            >Sitios web que dan prioridad al contenido</font
                        ></font
                    >
                </h3>
                <p class="body mr-12 mt-6 text-gray-100">
                    <font style="vertical-align: inherit;"
                        ><font style="vertical-align: inherit;">
                            Obtenga datos de su CMS o trabaje localmente con las
                            API Markdown y MDX con seguridad de tipos. Astro
                            elimina automáticamente el JavaScript no utilizado y
                            lo procesa en HTML para obtener mejores elementos
                            básicos de la web, tasas de conversión y SEO.
                        </font>
                    </font>
                </p>
            </div>
        </article>
        <article
            class="panel relative flex min-w-0 flex-col text-astro-gray-200 max-w-xl border border-gray-800 bg-gray-800"
        >
            <img
                src="https://astro.build/_astro/application-focused.Txl5AgZl.webp"
                width="1112"
                height="340"
                class="w-full"
                alt="Gráfico de una sola sección de una página web representada en el navegador."
                loading="lazy"
                decoding="async"
            />
            <div class="p-6">
                <h3
                    class="heading-3 font-semibold text-gray-100 heading-4 text-3xl"
                >
                    <font style="vertical-align: inherit;"
                        ><font style="vertical-align: inherit;"
                            >Aplicaciones web y API</font
                        ></font
                    >
                </h3>
                <p class="body mr-12 mt-6 text-gray-100">
                    <font style="vertical-align: inherit;"
                        ><font style="vertical-align: inherit;">
                            Crea e incorpore potentes aplicaciones web del lado
                            del cliente (SPA, PWA) cuando las necesite. Alinee
                            sus API de backend y su código de frontend en la
                            misma base de código de Astro. Autor en React,
                            Svelte, Vue y más.
                        </font></font
                    >
                </p>
            </div>
        </article>
    </div>
</section>

<style>
    .landing-section {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: visible;
        text-align: center;
    }
</style>
