---
import Logo from "../svg/AstroLogo.astro";
import Botoncito from "./Botoncito.astro";
---

<section class="h-screen flex flex-col justify-center items-center">
    <div class="animate-slide-in-top">
        <Logo />
    </div>
    <Botoncito>pagina 2</Botoncito>
</section>
