---
import Logo from "../svg/AstroLogo.astro";
---

<section class="h-screen flex flex-col justify-center items-center">
    <div class="animate-slide-in-top">
        <Logo />
    </div>
    <span
        class="text-xl border border-gray-700 py-2 px-4 rounded-md animate-slide-in-bottom"
    >
        Proyecto
    </span>
</section>

